<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 日志文件在哪里加载的？ -->
	<!-- 加载db.properies -->
	<context:property-placeholder location="classpath:/properties/db.properties,classpath:/properties/common.properties,classpath:/properties/solr.properties,classpath:/properties/redis.properties" system-properties-mode="FALLBACK"/>
		
	<!-- <import resource="classpath:spring-*.xml"/>   -->
	<import resource="classpath:spring-mapper.xml"/>
	<import resource="classpath:spring-service.xml"/>
	<import resource="classpath:spring-aspect.xml"/>
	<import resource="classpath:spring-dubbo-provider.xml"/>
	<import resource="classpath:spring-solr.xml"/>
	<import resource="classpath:spring-hystrix.xml"/>
	<import resource="classpath:spring-redis.xml"/>
	<import resource="classpath:spring-jms-consumer.xml"/>
</beans>